<footer>

    <div class="box1">
        <nav class="box1__display">
            <ul class="box1__display--list">
                <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Articles</a></li>
                <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Books</a></li>
                <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Events</a></li>
                <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Reasons</a></li>
                <li><a class="footer__sections--link" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Tips</a></li>
            </ul>
        </nav>
    </div>

    <div class="box2">
        <nav class="box2__display"></nav>
        <ul class="box2__display--list">
            <li><a class="footer__socialnetworks--link" href="https://adalab.es/" target="_blank" title="Web Adalab">
                    Twitter</a></li>
            <li><a class="footer__socialnetworks--link" href="https://adalab.es/" target="_blank" title="Web Adalab">
                    Instagram</a></li>
            <li><a class="footer__socialnetworks--link" href="https://adalab.es/" target="_blank" title="Web Adalab">
                    Mastodon.social</a></li>
        </ul>
        <nav class="footer__container"></nav>
    </div>

    <div class="box3">
        &copy;2017
        <h5>we <i class="fas fa-heart"></i>components</h5>
    </div>

</footer>
</footer>