<footer class="footer">
     
        <a class="arrow" href="#header"><img src="./assets/images/ico-arrow.svg" alt="main menu"
        title="main menu"></a>
     

        <nav class="box1">
            <ul class="box1__display">
                <li><a class="box1__display--list" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Articles</a></li>
                <li><a class="box1__display--list" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Books</a></li>
                <li><a class="box1__display--list" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Events</a></li>
                <li><a class="box1__display--list" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Reasons</a></li>
                <li><a class="box1__display--list" href="https://adalab.es/" target="_blank"
                        title="Web Adalab">Tips</a></li>
            </ul>
        </nav>
 
        <nav class="box2">
        <ul class="box2__display">
            <li><a class="box2__display--list" href="https://adalab.es/" target="_blank" title="Web Adalab">
                    Twitter</a></li>
            <li><a class="box2__display--list" href="https://adalab.es/" target="_blank" title="Web Adalab">
                    Instagram</a></li>
            <li><a class="box2__display--list" href="https://adalab.es/" target="_blank" title="Web Adalab">
                    Mastodon.social</a></li>
        </ul>
        </nav>

    <div class="box3">
        &copy;2021
        <small>we <i class="fas fa-heart"></i>components</small>
    </div>
</footer>