<header>
    <nav class="header__menu">
        <a class="header__burger" href="https://adalab.es/" target="_blank" title="Web Adalab"><img
                src="./assets/images/ico-menu.svg" alt="main menu"></a>
    </nav>

    <div class=slogan>
        <section class="slogan__text">
            <h1 class="slogan__text--main">anonymous proxy</h1>
            <p class="slogan__text--phrase">In hac habitasse plaea dictumst.</p>
            <a><img class="slogan__text--btn" src="./assets/images/ico-scroll-down.svg" alt="main"></a>
        </section>
    </div>
</header>

