<main>
    <article class="article">
        <div class="change">
            <small class="article__small">Insomnia tips</small>
            <h1 class="article__title">looking through a window</h1>
        </div>
        <p class="article__pharagraf">Donec accumsan,nulla ut voutpat porttitor, quam odio tempus felis, at luctus ex
            diam nec lectus. Vivamus semper sodales rutrum.</p>
        <nav class="article__link">
            <a class="article__link--go" href="https://adalab.es/">go</a>
        </nav>
    </article>
</main>