<section class="purchase" id="purchase">
    <h2 class="purchase__title">3 reasons to purchase</h2>
   
   
    <div class="purchase__text">
        <div class="purchase__text--1">
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
       
        <div class="purchase__text--2">
            <h3>Curabitur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="purchase__text--3">
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>
    <nav class="purchase__nav">
        <a class="purchase__nav--btn" target="_blank" href="https://adalab.es/">More reasons</a>
    </nav>
</section>