<section class="reason">
    <h2 class="reason__title">3 reasons to purchase</h2>
    <div class="reason__text">
        <div class="reason__text--1">
            <h3>Ut sed metus</h3>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="reason__text--2">
            <h3>Curabitur ac erat</h3>
            <p>Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="reason__text--3">
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
        </div>
    </div>
   <nav class="reason__nav">
        <a class="reason__nav--btn" href="">More reasons</a>
    </nav> 
</section>