// fonts
$font-title: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;

// colors
$color-menu: #0271bc;
$color-title: #000000;
$color-text: #4a4a4a;
$color-small-text: #8ccbea;
$color-purchase: #eff9ff;
$main-color: #ffffff;
$secundary-color: #f26002;
$color-footer: #304268;
