.footer {
  background-color: $color-footer;
  width: 100%;
  color: $main-color;
  text-align: center;
  font-family: $font-text;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: 768px) {
    padding-top: 0;
  }

  &__btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $main-color;
    box-shadow: 0 1px 3px 0 #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -22.5px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__navigation {
    @media (min-width: 768px) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: start;
    }

    @media (min-width: 1200px) {
      display: flex;
      justify-content: flex-start;
      width: 700px;
    }

    @mixin nav {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 30px;
      margin: 50px;

      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $main-color;
        }
      }
    }

    .box1 {
      @include nav();
    }

    .box2 {
      @include nav();
    }
  }

  &__heart {
    @media (min-width: 768px) {
      text-align: start;
      display: flex;
      flex-wrap: wrap;
      transform: translateY(-140%);
    }
    @media (min-width: 1200px) {
    }
    display: flex;
    flex-direction: column;
    width: 210px;
    i {
      color: $heart-color;
    }
  }
}
