footer {
  background-color: $color-footer;
  height: 465px;
  width: 100%;
  color: $main-color;
  text-align: center;

  a img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
  }

  @media all and (min-width: 768px) {
    height: 240px;
  }

  @mixin nav {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: $main-color;
    }
  }

  .box1 {
    @include nav();
  }

  .box2 {
    @include nav();
  }

  .box3 {
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    font-size: 14px;
    line-height: 30px;
    margin: 0;

    i {
      color: $heart-color;
      margin: 3px;
    }
  }
}
