.article {
  font-family: $font-text;
  margin: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-text;
  width: 60%;

  @media (min-width: 768px) {
    padding-left: 39px;
  }

  @media (min-width: 1200px) {
    padding-left: 275px;
  }

  &__small {
    font-size: 14px;
    color: $color-small-text;
    line-height: 30px;
    font-weight: normal;
  }

  @media (min-width: 1200px) {
    &__small {
      font-size: 16px;
    }
  }

  &__title {
    font-size: 24px;
    text-transform: capitalize;
    color: $color-title;
    width: 290px;
    margin: 5px 0px;
  }

  @media (min-width: 768px) {
    &__title {
      width: 100%;
      font-size: 26px;
    }
  }

  @media (min-width: 1200px) {
    &__title {
      font-size: 32px;
    }
  }

  &__pharagraf {
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
    width: 290px;
  }

  @media (min-width: 768px) {
    &__pharagraf {
      font-size: 20px;
      width: 650px;
    }
  }

  @media (min-width: 1200px) {
    &__pharagraf {
      width: 730px;
    }
  }

  &__link {
    border: 2px solid $secundary-color;
    color: secundary-color;
    height: 45px;
    width: 76px;
    line-height: 2.25;
    margin: 30px 214px 0 0;
    padding: 0 25px 0 26px;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $secundary-color;
      background-color: 0.5s linear;
      color: $main-color;
      font-size: 20px;
      border-radius: 50px;
      border: 1px solid $main-color;
      box-shadow: 0 0 15px rgb(236, 164, 8);
    }

    &--go {
      text-decoration: none;
      text-transform: capitalize;
      color: $secundary-color;
      font-size: 20px;
      padding: 20px 15px;

      &:hover {
        color: $main-color;
        background-color: 0.8s linear;
      }
    }
  }
}
