.article {
  font-family: $font-text;
  margin: 30px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-text;

  &__small {
    font-size: 14px;
    color: $color-small-text;
    line-height: 30px;
  }

  @media all and (min-width: 1200px) {
    &__small {
      font-size: 16px;
    }
  }

  &__title {
    font-size: 24px;
    text-transform: capitalize;
    color: $color-title;
    line-height: 30px;
  }
  @media all and (min-width: 768px) {
    &__title {
      font-size: 26px;
    }
  }

  @media all and (min-width: 1200px) {
    &__title {
      font-size: 32px;
    }
  }

  &__pharagraf {
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
  }

  @media all and (min-width: 768px) {
    &__pharagraf {
      font-size: 20px;
    }
  }

  &__link {
    border: 2px solid $secundary-color;
    color: secundary-color;
    height: 45px;
    width: 76px;
    line-height: 2.25;
    margin: 30px 214px 0 0;
    padding: 0 25px 0 26px;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--go {
      text-decoration: none;
      text-transform: capitalize;
      color: $secundary-color;
      font-size: 20px;
    }
  }
}
