.purchase {
  display: grid;
  grid-template-columns: 1f;
  grid-template-rows: 10% 1fr 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 50px 50px;
  grid-row-gap: 45px;
  background-color: #eff9ff;
  font-family: $font-text;
  line-height: 30px;

  @media (min-width: 768px) {
    grid-template-rows: 10% 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    align-items: center;
  }

  &__title {
    grid-row: 1/2;
    font-size: 24px;
    font-family: $font-title;
    line-height: 30px;
    height: 50px;

    @media (min-width: 768px) {
      grid-column: 1/4;
      grid-row: 1/2;
      font-size: 26px;
    }
    @media (min-width: 1200px) {
      font-size: 32px;
    }
  }

  &__text1 {
    text-align: center;
    margin: auto;
    h3 {
      font-family: $font-title;
      font-size: 18px;
    }

    @media (min-width: 768px) {
      grid-row: 2/3;
      grid-column: 1/2;
      font-size: 20px;
      width: 212px;
      p {
        font-size: 18px;
        margin-top: 15px;
      }
    }
    @media (min-width: 1200px) {
      h3 {
        font-size: 24px;
        p {
          font-size: 20px;
        }
      }
    }
  }

  &__text2 {
    text-align: center;
    margin: auto;
    h3 {
      font-family: $font-title;
      font-size: 18px;
    }
    p {
      font-size: 18px;
    }

    @media (min-width: 768px) {
      grid-row: 2/3;
      grid-column: 2/3;
      font-size: 26px;
      width: 212px;
      p {
        margin-top: 15px;
        font-size: 18px;
      }
    }
    @media (min-width: 1200px) {
      h3 {
        font-size: 24px;
        p {
          font-size: 20px;
        }
      }
    }
  }
  &__text3 {
    text-align: center;
    margin: auto;
    h3 {
      font-family: $font-title;
      font-size: 18px;
    }
    p {
      font-size: 18px;
    }

    @media (min-width: 768px) {
      grid-row: 2/3;
      grid-column: 3/4;
      font-size: 20px;
      width: 212px;

      p {
        margin-top: 15px;
        font-size: 18px;
      }
    }
    @media (min-width: 1200px) {
      h3 {
        font-size: 24px;
        p {
          font-size: 20px;
        }
      }
    }
  }

  &__nav {
    background-color: $secundary-color;
    grid-row: 5;
    grid-column: 1;
    text-decoration: none;
    font-family: $font-text;
    color: $main-color;
    border-radius: 22.5px;
    padding: 5px 5px;
    width: 184px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: auto;

    &:hover {
      background-color: $main-color;
      background-color: 0.5s linear;
      color: $secundary-color;
      font-size: 20px;
      border-radius: 50px;
      border: 1px solid $secundary-color;
      box-shadow: 0 0 15px rgb(236, 164, 8);
    }

    @media (min-width: 768px) {
      grid-row: 3/4;
      grid-column: 2/3;
      align-items: center;
      justify-content: center;
    }

    &--btn {
      text-decoration: none;
      padding: 10px 25px;
      color: $main-color;
      font-size: 16px;
      font-family: $font-text;
    }
    &--btn:hover {
      color: $secundary-color;
      background-color: 0.5s linear;
    }
  }
}
